{% extends 'base.html.twig' %} {% block title %}Hello ComentarioController!{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">

            {% for post in pensamientos %}
            <div class="card bg-dark text-light shadow-sm">
                <div class="card-header text-light">
                    <h5>Autor: {{post.nickname|upper}}</h3> {{post.fecha_pensamiento|date}}
                </div>
                <div class="card-body text-light" style="background-color: rgb(61,60,68);">
                    <h3 class="text-light">{{post.titulo|title}}</h3>
                    <p>{{post.Contenido}}</p>
                </div>
                <div class="card-footer text-light">
                    {{form(comentar)}}
                </div>
            </div>
            <br> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}